<div class="modal" ng-class="{'show': showForm}" ng-if="event.rsvp">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()"
						aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">RSVP for {{event.title}}</h4>

				<div ng-include="'/ng-app/events/eventInfo.tpl.html'"></div>
			</div>

			<form name="rsvpForm" novalidate>
				<div class="modal-body">
					<p class="text-danger">* <small>required</small></p>

					<div class="form-group form-inline">
						<label for="name">Name:<span class="text-danger">*</span></label>
						<input id="name"
							   type="text"
							   class="form-control"
							   placeholder="Name"
							   name="name"
							   ng-model="guest.name"
							   required>

						<div ng-if="rsvpForm.name.$dirty && rsvpForm.name.$invalid" ng-messages="rsvpForm.name.$error" class="text-danger">
							<span ng-message="required">Name is required</span>
						</div>
					</div>

					<div class="form-group">
						<label>Attending:<span class="text-danger">*</span></label>
						<label class="radio-inline"><input type="radio" name="attending" ng-model="guest.attending" ng-value="true" required>
							Yes</label>
						<label class="radio-inline"><input type="radio" name="attending" ng-model="guest.attending" ng-value="false">
							No</label>
					</div>

					<div class="form-group form-inline" ng-show="guest.attending">
						<label for="guests">Number of Guests:</label>
						<input id="guests"
							   name="guests"
							   type="number"
							   class="form-control"
							   min="1"
							   max="8"
							   ng-model="guest.guests"
							   ng-pattern="/^[1-8]$/"
							   ng-required="guest.attending">

						<div ng-if="rsvpForm.guests.$dirty && rsvpForm.guests.$invalid"
							 ng-messages="rsvpForm.guests.$error" class="text-danger">
							<span ng-message="required"># of guests required if attending</span>
							<span ng-message="pattern">Enter a number from 1-8</span>
						</div>

					</div>

					<div class="form-group">
						<label for="comments">Comments:</label>
						<textarea id="comments"
								  class="form-control"
								  ng-model="guest.comments"></textarea>
					</div>

				</div>

				<div class="modal-footer">
					<button class="btn btn-default" ng-click="closeModal();">Cancel</button>
					<button class="btn btn-success" ng-click="sendMail();" ng-disabled="rsvpForm.$invalid"><i
							class="fa fa-envelope-o"></i> Email RSVP</button>
				</div>
			</form>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->