/*----------------------------------------------- AngularJS --*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

/*----------------------------------------------- Header --*/

header {
	background: #444;
	color: #fff;
	margin-bottom: 30px;
}
nav ul {
	list-style: outside none;
	padding-left: 0;
}
nav li {
	display: inline-block;
	padding: 0 10px;
}
nav a,
nav a:hover,
nav a:visited,
nav a:focus {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}

/*----------------------------------------------- Event Detail --*/

/*-- RSVP modal --*/

.modal {
	background: rgba(0,0,0,.5);
}