/*----------------------------------------------- AngularJS --*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

/*----------------------------------------------- Header --*/

header .navbar {
    border-radius: 0;
}

/*----------------------------------------------- Events Listing --*/

.query-clear {
    cursor: pointer;
    margin-left: -20px;
}

/*----------------------------------------------- Event Detail --*/

/*-- RSVP modal --*/

.modal {
	background: rgba(0,0,0,.5);
}

/*----------------------------------------------- Footer --*/

footer {
    margin-top: 30px;
    text-align: center;
}