<div class="modal" ng-class="{'show': showForm}" ng-if="event.rsvp">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()"
						aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">RSVP for {{event.title}}</h4>
			</div>

			<div class="modal-body">
				<form>
					<div class="form-group form-inline">
						<label for="name">Name:</label>
						<input id="name" type="text" class="form-control" placeholder="Name" ng-model="guest.name" required>
					</div>

					<div class="form-group">
						<label>Attending:</label>
						<label><input type="radio" name="attending" ng-model="guest.attending" ng-value="true" required>
							Yes</label>
						<label><input type="radio" name="attending" ng-model="guest.attending" ng-value="false">
							No</label>
					</div>

					<div class="form-group form-inline" ng-show="guest.attending">
						<label for="guests">Number of Guests:</label>
						<input id="guests" type="number" class="form-control" min="1" max="8" ng-model="guest.guests">
					</div>

					<div class="form-group">
						<label for="comments">Comments:</label>
						<textarea id="comments" class="form-control" ng-model="guest.comments"></textarea>
					</div>

					<button class="btn btn-default" ng-click="closeModal();">Cancel</button>
					<button class="btn btn-success" ng-click="sendMail();">Submit RSVP</button>
				</form>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->